# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
detections.db
staticfiles/

# pip temp folders
pip-build-tracker-*/
pip-ephem-wheel-cache-*/
pip-install-*/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
