opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
torch==2.2.2
torchvision==0.17.2
pygame==2.6.0
channels==4.0.0
channels-redis==4.2.0
ultralytics==8.3.54
ultralytics-thop==2.0.13
numpy==1.26.4
nest-asyncio==1.6.0
Django==5.0.7
daphne==4.1.2
